#main-container{
    place-items: center center;
}

#sign-in-form{
    max-width: 330px;
} 

.form-control:focus {
    z-index: 5;
}

.layer3-logo{
    width: 72px;
    height: 72px;
}

.active{
    background: red;
}
